<div class="layout-container">
  <app-navbar></app-navbar>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="footer-content">
      <p>2025 PDF Manager.</p>
      <p class="footer-links">
        <a href="https://github.com/RochZaremba" target="_blank">GitHub</a>
        <span class="separator">|</span>
        <a href="#">Dokumentacja</a>
        <span class="separator">|</span>
        <a href="#">Kontakt</a>
      </p>
    </div>
  </footer>
</div>
